{% extends "layout.html" %}
{% block content %}
<h1>Club Members</h1>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add Member</legend>
            <div class="form-group">
                {{ form.club_name.label(class="form-control-label") }}
                {% if form.club_name.errors %}
                    {{ form.club_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.club_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.club_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {% for member in form.members %}
                    {{ member.label(class="form-control-label") }}
                    {% if member.errors %}
                        {{ member(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in member.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ member(class="form-control form-control-lg") }}
                    {% endif %}
                {% endfor %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
</div>

{% endblock content %}
