{%extends "layout.html"%}
{%block content%}
<h1>Club Members</h1>
<div class="content-section">
    <div class="form-group">
        {{ form.club_name.label(class="form-control-label")}}
        {{ form.club_name(class="form-control form control-lg")}}
    </div>
    <div class="form-group">
        {{ form.member.label(class="form-control-label")}}
        {{ form.member(class="form-control form control-lg")}}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info")}}
      </div>
</div>

{%endblock%}