{%extends "layout.html"%}
{%block side_left%}
<!-- <img src="static/favicon/clubslogo.png" style="width:50%"> -->
{%endblock%}
{%block content%}
<h1>Home</h1>
<br></br>
{% for event in news %}
{% set i = loop.index-1 %}
    <div class="flip-card col-md-6 offset-3">
        <div class="flip-card-inner">
        <div class="flip-card-front">
            <h2>{{ news[i] }}</h2>
            <img src="static/favicon/clubslogo.png" style="width:10%">
        </div>
        <div class="flip-card-back">
            <h3>{{ news[i] }}</h3>
            <a href="mailto: {{'joannafan03@gmail.com'}}" class="link-small"> Contact </a> <!--EMAIL-->
        </div>
        </div>
    </div>
    <br>
  {%endfor%}
{%endblock%}
{%block side_right%}
<!-- <img src="static/favicon/clubslogo.png" style="width:50%"> -->
{%endblock%}