<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>ClubsApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="web_front/styles/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
  </head>
  <body>
      <div id="mySidenav" class="sidenav">
          <ul style="list-style-type: none;">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <li><a href="index.html">Home</a></li>
            <li><a href="howtouse.html">How to Use</a></li>
            <li><a href="record.html">Record Minutes</a></li>
            <li><a href="view.html">View Minutes</a></li>
            <li><a href="about.html">About</a></li> <!--TO BE ADDED LATER: <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>-->
          </ul>
      </div>
      <button onclick="openNav()">Sidebar</button>
      <header class="site-header">
          <div class="container">
            <a class="navbar-brand mr-4" href="index.html">ClubsApp</a>
          </div>
      </header>
  <div id="main">
    <div class="container">
      <h1>ClubsApp</h1>
    </div>
    <p style=text-align:center><small>Helping students keep track of club attendance, meetings, interviews, and board positions.</small></p>
    <form>
      <fieldset>
        <legend>Sign Up to Get Started!</legend>
        <label for="1name">First Name:</label>
        <input type="text" id="1name" name="user_name" 
        placeholder="First Name" 
        onfocus="this.placeholder = ''" 
        onblur="this.placeholder='First Name'">

        <label for="2name">Last Name:</label>
        <input type="text" id="2name" name="user_name" 
        placeholder="Last Name" 
        onfocus="this.placeholder = ''" 
        onblur="this.placeholder='Last Name'">
        <label for="mail"> Email:
          <input type="email" id="mail" name="user_email"
          placeholder="johnapple@example.com"
          onfocus="this.placeholder=''"
          onblur="this.placeholder='johnapple@example.com'">
        </label>
        <hr style="visibility:hidden;">
        <label for="School">Current High School:
          <select id="School" name="user_School">
            <option value="placeholder"> </option>
            <option value="irvine">Irvine High School</option>
            <option value="northwood">Northwood High School</option>  
            <option value="portola">Portola High School</option>
            <option value="university">University High School</option>
            <option value="woodbridge">Woodbridge High School</option>
          </select>
        </label>
      </fieldset>
    </form>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>

<!--Attributes-->
<!--href: this attribute specifies as its
value the web address that you want the link 
to point to; where the browser navigates to when the link is clicked-->
<!--title: extra info about the link. 
This will appear as a tooltip when hovered over-->
<!--target: specifies the browsing
context which will be used to display the link
target="blank" will display the link in a new tab-->
<!-- using the disabled attribute prevents the end user from entering text into the input box -->
<!--<input type="text" disabled>-->

<!-- The user can enter text into the follow input, as it doesn't contain the disabled attribute -->
<!---<input type="text">-->

<!--SPECIAL CHARACTERS-->
<!--&lt; = <, &gt; = >, &quot; = ", &apos; = ', &amp = &-->