<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="static/favicon.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/favicon.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/favicon.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/favicon.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/favicon.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/favicon.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/favicon.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/favicon.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="static/favicon.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/favicon.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon.ico/favicon-16x16.png">
    <link rel="manifest" href="static/favicon.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% if title %}
    <title>ClubsApp - {{ title }}</title>
    {% else %}
    <title>ClubsApp</title>
    {% endif %}
</head>

<body>
<header style="float:inherit">
  <nav class="navbar navbar-expand-md navbar-toggler navbar-dark bg-steel navbar-fixed-top" role="navigation">
    <div class="container">
      <a class="navbar-brand mr-4" href="{{ url_for('main.home') }}" style="display: inline-block">ClubsApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">             
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
          <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
        </div>
        <!-- Navbar Right Side: CHANGE TO FORCE LOGIN LATER -->
        <div class="navbar-nav">
          {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{ url_for('clubs.user_clubs', user_id=current_user.id) }}">My Clubs</a>
            <a class="nav-item nav-link" href="{{ url_for('clubs.num_club_members', user_id=current_user.id) }}">Club Members</a>
            <a class="nav-item nav-link" href="{{ url_for('clubs.generate_minutes', user_id=current_user.id) }}">Record Minutes</a>
            <a class="nav-item nav-link" href="{{ url_for('clubs.view_club_name', user_id=current_user.id) }}">View Minutes</a>
            <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Log Out</a>
          {% else %}
            <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>  
</header>
<!-- container is the bootstrap highest level group of content -->
<main role="main" class="container" style="margin-top: 100px">
  <!-- a row groups things together in a row. -->
  <div class="row">
    <!-- a bootstrap row has 12 columns. This is saying everything within this col will take up 8 cols -->
    <div class="col-md-8 offset-md-2">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{  message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %} {% endblock %}
    </div>
    <div class="col-md-2">
      {% block side_content %}{% endblock %}
    </div>
  </div>
</main>


    <!-- Optional JavaScript -->
    <!--jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/main.js"></script>
</body>
</html>
    
