{%extends "layout.html"%}
{%block content%}
<h1>Record Page</h1>
<div class = "content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Record </legend>
            <div class="form-group">
                <label> Attendance </label>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Is here?</th>
                    </tr>
                    {% for attend in form.attendance %}
                        {% set i = loop.index - 1 %}
                        <tr>
                        <td for="{{ i }}"> {{ members[i].firstname }} {{ members[i].lastname }} </td>
                            <td>
                            {% if attend.errors %}
                                {{ attend(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in attend.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ attend(class="form-control form-control-lg") }}
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
</div>

{%endblock%}
