{%extends "layout.html"%}
{%block content%}
{% for clubs in data %}
{% set i = loop.index-1 %}
    <div class="flip-card col-md-6">
        <div class="flip-card-inner">
        <div class="flip-card-front">
            <h2> {{data[i].club}} </h2>
            <img src="static/favicon/clubslogo.png" style="width:10%">
        </div>
        <div class="flip-card-back">
            <h3>{{data[i].club}}</h3>
            <p> Advisor: {{data[i].advisor}}</p>
            <p> Room: {{data[i].room}}</p>
            <p> Contact:  </p> <!--EMAIL-->
        </div>
        </div>
    </div>
    <br>
  {%endfor%}
{%endblock%}