{% extends "layout.html" %}
{% block content %}
<h1><img src="{{ url_for('static', filename='favicon/clubslogo.png') }}" style="width:10%"></h1>
  <div class="content-section">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"> Add New Club </legend>
        <div class="form-group">
          {{ form.club_name.label(class="form-control-label") }}
          {% if form.club_name.errors %}
            {{ form.club_name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.club_name.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.club_name(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class = "row">
          <div class="form-group col-md-6">
            {{ form.advisor.label(class="form-control-label") }}
            {% if form.advisor.errors %}
              {{ form.advisor(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.advisor.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.advisor(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        
          <div class="form-group col-md-6">
            {{ form.email.label(class="form-control- label") }}
            {% if form.email.errors %}
              {{ form.email(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info")}}
      </div>
    </form>
  </div>
<br>

<h3> Current Clubs </h3>
<table class = "table" style = "table-layout: fixed;">
  <tr>
    <th scope="col" colspan="2">Club</th>
    <th scope="col" colspan="2">Members</th>
    <th scope="col" colspan="6">Contacts</th>
    <!-- <th scope="col" colspan="1">Edit</th> -->
  </tr>

  <div class="content-section">
    {% for club in clubs %}
    <tr>
      <td scope="col" colspan="2">{{ club.name }}</td>
      <td scope="col" colspan="2">{% for member in club.members%}
            {{ member.firstname }} 
            {{ member.lastname }}
            <br>
          {% endfor %}
      </td>
      <td scope="col" colspan="6">
        <a href="{{ url_for('clubs.contact_list', club_id=club.id, user_id=current_user.id) }}"> Edit Contacts </a>
        <br>
        <p style="word-wrap: break-word;">{{club.contacts}}</p>
      </td>
    </tr>
    {% endfor %}
  </div>
</table>
{% endblock content %}
      <!-- <td scope="col" colspan="1">
        <a href="{{ url_for('clubs.user_clubs_edit', user_id=current_user.id, club_id=club.id)}}"><h3>Edit Club Info</h3></a>
      </td> -->