{%extends "layout.html"%}
{%block content%}
<div class = "content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> View </legend>
            <div class="form-group">
                {{ form.club_list.label(class="form-control-label")}}
                {% if form.club_list.errors %}
                        {{ form.club_list(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form.club_list.errors %}
                        <span> Please Pick A Valid Club </span>
                    {% endfor %}
                        </div>
                    {% else %}
                        {{ form.club_list(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
</div>

{%endblock%}